[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/vendor/glm"]
	path = Engine/vendor/glm
	url = https://github.com/icaven/glm
[submodule "Engine/vendor/SDL"]
	path = Engine/vendor/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "Engine/vendor/imgui"]
	path = Engine/vendor/imgui
	url = https://github.com/AlexandarSherbula/imgui
[submodule "Engine/vendor/entt"]
	path = Engine/vendor/entt
	url = https://github.com/skypjack/entt
[submodule "Engine/vendor/yaml-cpp"]
	path = Engine/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "Engine/vendor/nativefiledialog"]
	path = Engine/vendor/nativefiledialog
	url = https://github.com/AlexandarSherbula/nativefiledialog
